:root {
  /* =============== 自定义 =============== */

  /* --color-white: #ffffff;
  --color-black: #000000;

  --color-primary: #409eff;
  --color-primary-light-3: #79bbff;
  --color-primary-light-5: #a0cfff;
  --color-primary-light-7: #c6e2ff;
  --color-primary-light-8: #d9ecff;
  --color-primary-light-9: #ecf5ff;

  --color-success: #67c23a;
  --color-success-light-3: #95d475;
  --color-success-light-5: #b3e19d;

  --color-warning: #e6a23c;
  --color-warning-light-3: #eebe77;
  --color-warning-light-5: #f3d19e;

  --color-danger: #f56c6c;
  --color-danger-light-3: #f89898;
  --color-danger-light-5: #fab6b6;

  --color-error: #f56c6c;
  --color-error-light-3: #f89898;
  --color-error-light-5: #fab6b6;

  --color-info: #909399;
  --color-info-light-3: #b1b3b8;
  --color-info-light-5: #c8c9cc;

  --text-color-white: #ffffff;
  --el-text-color-primary: #303133;
  --text-color-regular: #606266;
  --text-color-secondary: #909399;
  --text-color-placeholder: #a8abb2;
  --text-color-disabled: #c0c4cc;

  --bg-color: #ffffff;
  --bg-color-page: #f2f3f5;
  --bg-color-light: #c8c9cc;
  --bg-color-secondary: #e4e7ed;

  --border-color: #dcdfe6;
  --border-color-light: #e4e7ed;
  --border-color-lighter: #ebeef5;
  --border-color-extra-light: #f2f6fc;
  --border-color-dark: #d4d7de;
  --border-color-darker: #cdd0d6;

  --el-box-shadow: 0px 12px 32px 4px rgba(0, 0, 0, 0.04), 0px 8px 20px rgba(0, 0, 0, 0.08);
  --el-box-shadow-light: 0px 0px 12px rgba(0, 0, 0, 0.12);
  --el-box-shadow-lighter: 0px 0px 6px rgba(0, 0, 0, 0.12);
  --el-box-shadow-dark: 0px 16px 48px 16px rgba(0, 0, 0, 0.08), 0px 12px 32px rgba(0, 0, 0, 0.12),
    0px 8px 16px -8px rgba(0, 0, 0, 0.16); */
}
